/*-----------Reset-----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background: #e60014;
  font-family: sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

/*-----------Header-----------*/
header {
  box-shadow: 1px 2px rgb(243, 239, 239, 1);
  position: relative;
  z-index: 2;
}

header .container-top {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 220px;
}

header .container-top .top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #e60014;
  width: 100%;
  height: 70px;
  padding: 0;
}

header .container-top .top a.logo img {
  width: 200px;
  height: 50px;
}

header .container-top .top .go-website {
  display: flex;
  align-items: center;
}

header .container-top .top .go-website a.link-store {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}

header .container-top .top .go-website a img {
  width: 27px;
  height: 27px;
}

/*-----------Middle-----------*/
.container-middle {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 220px;
  background: rgb(230, 5, 5);
}

.container-middle .counter {
  display: flex;
  flex-direction: column;
}

.container-middle .counter p {
  font-size: 40px;
  padding: 50px 0 20px 0;
}

.container-middle .counter img {
  width: 700px;
  border: 3px solid#fff;
  border-radius: 8px;
  padding: 20px 0 20px 0;
}

.container-middle .highlight-text {
  display: flex;
  margin-top: 10px;
}
.container-middle .highlight-text .leftText,
.container-middle .highlight-text .rightText {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.container-middle .highlight-text .leftText .topText {
  font-size: 25px;
  padding-top: 45px;

  margin-left: 0;
  height: 15px;
}
.container-middle .highlight-text .leftText .bottomText {
  font-size: 170px;
  font-weight: 600;
  margin-left: -8px;
  position: relative;
  top: -35px;
}

.container-middle .highlight-text .rightText .topText {
  font-size: 60px;
  font-weight: 300;
  position: relative;
  left: 8px;
  bottom: -55px;
}

.container-middle .highlight-text .rightText .bottomText {
  font-size: 50px;
  margin-top: 0;

  position: relative;
  left: 8px;
  bottom: -45px;
}
/*-----------Buttom-----------*/
.container-buttom {
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px 220px;
  background: rgb(218, 10, 10);
  box-shadow: 1px 2px 10px rgb(202, 18, 18);
  /* box-shadow: 1px 2px rgb(139, 15, 15); */
}

.container-buttom .request-subscribe {
  display: flex;
  justify-content: space-between;
}
.container-buttom .request-subscribe p {
  margin-bottom: 20px;
}

.container-buttom .subscribe {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.container-buttom .subscribe input {
  width: 79%;
  height: 50px;
  padding-left: 10px;
  font-size: 20px;
  color: rgb(250, 243, 243);
  font-weight: bold;
  outline: none;
  border: none;
}

.container-buttom .subscribe button {
  width: 20%;
  background: #ecf020;
  color: #e60014;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  border: none;
}

.container-buttom .midia {
  display: flex;
  justify-content: space-between;
  border-top: 20px;
}

.container-buttom .midia {
  display: flex;
  align-items: center;
  justify-content: left;
}

.container-buttom .midia p {
  padding-right: 10px;
}

.container-buttom .midia .social-midia {
  display: flex;
}

.container-buttom .midia .social-midia a {
  display: block;
}

.container-buttom .midia .social-midia a img {
  height: 30px;
  padding-right: 10px;
}
